body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
  }
  #game-container {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: #000;
  }
  .player {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
  }