
  .grid {
    /* position: absolute; */
    margin-left: 320px;
    margin-top: 5px;
    width: 600px;
    height: 600px;
    background: url(background.png);
    animation: scroll-background 5s linear infinite;
    display: flex;
    flex-wrap: wrap;

    
    
  }

  @keyframes scroll-background{
    from{
        background-position: 0px 0px ;
    }
    to{
        background-position: 0px 600px ;
    }
  }
  
  .grid div{
    width: 40px;
    height: 40px;
  }

  .invader{
    background:url(opponent.png);
    background-size: cover;
    border: 10px;
  }

  .shooter{
    background: url(aircraft.png);
    background-size: 100% auto;
    border: 10px;
  }
  
  .laser{
    background: url(beam.png);
    background-size: cover;
    border: 10px;
   
  }

  .boom{
    background-color: rgb(253, 45, 45);
  }
