body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f3f3;
  }
  #game-container {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: #fffafa;
  }
  #player {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 0;
  }